/*Variables*/
/*H offset, V offset, blur, spread */
/*H offset, V offset, blur, spread */
/*Mixins*/
/*Functions*/
/* line 79, ../Sass/Website.scss */
html {
  height: 100%;
}

/* line 84, ../Sass/Website.scss */
body {
  background-image: url("../Images/Alphabetchalksheer.png");
  background-position: center center;
  background-origin: padding-box;
  z-index: 2;
  font-family: "The Girl Next Door", Calibri, Ubuntu;
  font-size: 1em;
  margin: 3px;
  padding: 0;
  height: 100%;
}

/* Banner Elements */
/* line 97, ../Sass/Website.scss */
#logo {
  width: 221px;
  height: 142px;
  position: relative;
  z-index: 5;
}

/* Div and Section Elements */
/* line 106, ../Sass/Website.scss */
div {
  border-radius: 2px;
  text-align: center;
  padding: 2px;
}

/*Paragraph Elements*/
/* line 114, ../Sass/Website.scss */
p {
  text-indent: 15px;
  width: 75%;
  font-size: 1em;
}

/*Button Elements*/
/* line 122, ../Sass/Website.scss */
button {
  background: white;
  color: #3b653d;
  box-shadow: inset -1px 1px 2px 1px #f7f7f7, 1px 1px 2px 1px #f7f7f7;
  width: 145px;
  height: 60px;
  font-size: 1em;
  font-family: "The Girl Next Door", Calibri, Ubuntu;
  padding-bottom: 2px;
  border: none;
  border-radius: 2px;
  margin: 0 auto;
  margin-right: 7px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* line 130, ../Sass/Website.scss */
.selected {
  background: maroon;
  color: white;
  box-shadow: inset -1px 1px 2px 1px #660000, 1px 1px 2px 1px #660000;
  width: 145px;
  height: 60px;
  font-size: 1em;
  font-family: "The Girl Next Door", Calibri, Ubuntu;
  padding-bottom: 2px;
  border: none;
  border-radius: 2px;
  margin: 0 auto;
  margin-right: 7px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* line 138, ../Sass/Website.scss */
.accept {
  background: #3b653d;
  color: white;
  box-shadow: inset -1px 1px 2px 1px #385f39, 1px 1px 2px 1px #385f39;
}

/* line 145, ../Sass/Website.scss */
.cancel {
  background: maroon;
  color: white;
  box-shadow: inset -1px 1px 2px 1px #790000, 1px 1px 2px 1px #790000;
}

/*Button Links*/
/* line 153, ../Sass/Website.scss */
button a {
  color: #3b653d;
}

/* line 158, ../Sass/Website.scss */
button:hover {
  text-shadow: 0 2px 3px #cccccc;
}

/* line 163, ../Sass/Website.scss */
button a:hover {
  text-shadow: 0 2px 3px #cccccc;
}

/* line 168, ../Sass/Website.scss */
.selected a {
  color: white;
  font-weight: 900;
  font-size: 105%;
}

/*Form elements*/
/* line 177, ../Sass/Website.scss */
.login {
  background: white;
  color: #3b653d;
  box-shadow: inset -1px 1px 2px 1px #cccccc, 1px 1px 2px 1px #cccccc;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 4px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

/* line 181, ../Sass/Website.scss */
.login a {
  color: #3b653d;
}

/* line 186, ../Sass/Website.scss */
.userinput {
  background: white;
  color: #3b653d;
  box-shadow: inset -1px 1px 2px 1px #cccccc, 1px 1px 2px 1px #cccccc;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 4px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

/*Form Control Elements*/
/* line 192, ../Sass/Website.scss */
label {
  display: inline-block;
  float: left;
  text-align: right;
  padding-bottom: 4px;
  min-width: 125px;
  font-weight: bold;
}

/* line 201, ../Sass/Website.scss */
input, textarea, select {
  display: inline-block;
  width: 225px;
  border: 1px solid #cccccc;
  font-family: "The Girl Next Door", Calibri, Ubuntu;
  font-size: 1em;
  color: #3b653d;
  padding-bottom: 4px;
}

/* line 212, ../Sass/Website.scss */
select {
  background: white;
}

/* line 216, ../Sass/Website.scss */
input:focus {
  font-size: 110%;
  width: 250px;
}

/* line 222, ../Sass/Website.scss */
output {
  color: maroon;
  font-size: 2em;
}

/*Range Input Elements*/
/* line 229, ../Sass/Website.scss */
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  /*Used in FF*/
  background-color: #3b653d;
  border: none;
  border-radius: 5px;
  width: 225px;
}

/* line 239, ../Sass/Website.scss */
input[type='range']:focus {
  background-color: #29462a;
  outline: none;
}

/* line 245, ../Sass/Website.scss */
input[type=checkbox]:checked ~ div {
  font-style: italic;
  color: #d38d5f;
  background-color: #d38d5f;
}

/* line 252, ../Sass/Website.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 225px;
  height: 5px;
  background: #3b653d;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* line 261, ../Sass/Website.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #d38d5f;
  margin-top: -4px;
  cursor: pointer;
}

/*FF Range*/
/* line 274, ../Sass/Website.scss */
input[type=range]::-moz-range-track {
  width: 225px;
  height: 5px;
  background: #3b653d;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* line 283, ../Sass/Website.scss */
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #d38d5f;
}

/* line 292, ../Sass/Website.scss */
input[type=range]:focus::-moz-range-track {
  background-color: #29462a;
}

/*Form Validation Elements*/
/* line 298, ../Sass/Website.scss */
.success {
  color: #3b653d;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 305, ../Sass/Website.scss */
.logout {
  color: white;
  font-size: 2em;
}

/* line 311, ../Sass/Website.scss */
.error {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

/*Image Elements*/
/* line 319, ../Sass/Website.scss */
img {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Standard Link Elements */
/* line 327, ../Sass/Website.scss */
a {
  color: #3b653d;
  text-decoration: none;
}

/* line 333, ../Sass/Website.scss */
a:hover {
  text-decoration: underline;
}

/* line 338, ../Sass/Website.scss */
a:active {
  color: white;
  outline: none;
}

/* Table Elements */
/* line 346, ../Sass/Website.scss */
table {
  font-size: 110%;
  background-color: white;
  color: #3b653d;
  text-align: center;
  margin: 35px auto;
  width: 100%;
}

/* line 356, ../Sass/Website.scss */
th, td {
  border: 2px #3b653d;
  border-style: none dashed dashed none;
}

/*Miscelleaneous Elements*/
/* line 364, ../Sass/Website.scss */
h1, h2, h3 {
  color: maroon;
  font-family: "The Girl Next Door", Calibri, Ubuntu;
}

/* line 370, ../Sass/Website.scss */
h2 {
  font-size: 1.2em;
  font-family: "Homemade Apple", Calibri, Ubuntu;
}

/* line 376, ../Sass/Website.scss */
.invisible {
  display: none;
}

/*Positional Elements*/
/* line 382, ../Sass/Website.scss */
.floatleft {
  float: left;
}

/* line 387, ../Sass/Website.scss */
.floatright {
  float: right;
}

/* line 391, ../Sass/Website.scss */
.alignright {
  text-align: right;
}

/* line 395, ../Sass/Website.scss */
.alignleft {
  text-align: left;
}

/* line 399, ../Sass/Website.scss */
.aligncenter {
  text-align: center;
}
