/*Variables*/
//Colors
$chalkgreen: #3B653D; //chalkboard green
$maroon:#800000;
$ltbrown:#d38d5f;
$white:white;

//Fonts
$base-font:1em;
$larger-font:1.2em; 
//$smaller-font:1em;
$largest-font:2em;
$main-font:'The Girl Next Door', Calibri, Ubuntu;
$second-font:'Homemade Apple', Calibri, Ubuntu;

//Shadows
$main-shadow: inset -1px 1px 2px 1px; /*H offset, V offset, blur, spread */
$second-shadow:1px 1px 2px 1px; /*H offset, V offset, blur, spread */