@import "Variables";
/*Mixins*/

//Layout
@mixin centered
{
    margin: 0 auto;
    display:block;
}

//Presentation

    //Buttons
@mixin buttonformats
{
    width:145px;
    height:60px;
    font-size:$base-font;
    font-family: $main-font;

    padding-bottom: 2px; 
    border:none;
    border-radius:2px;
    margin:0 auto;
    margin-right:7px;
    margin-bottom:10px;
    margin-top:5px;
}

    //forms
@mixin forms 
{
    background:white;
    color:set-text-color(white);
    box-shadow:$main-shadow shade(white, 20% ),  $second-shadow shade(white, 20% );  
    border-radius:10px;
    padding-bottom:10px;
    padding-top: 4px;
    width:50%;
    @include box-sizing;
    @include centered //line 5
}

@mixin background
{
    background-image:url('../Images/Alphabetchalksheer.png');
    background-position: center center;
    background-origin:padding-box;
}

	//box-sizing
@mixin box-sizing
{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

/*Functions*/

@function set-text-color($color) {
  @if (lightness($color)>67) 
  {
    @return $chalkgreen; // Lightest backgorund, return dark color //dark color has lower percentage
  }
  @else if ((lightness($color)<67) and (lightness($color)>34) )
  {
    @return $maroon; // Darker backgorund, return lighter color
  }
  @else
  {
    @return white; // Darkest background, return light color
  }
}

//Standard CSS

html
{
    height:100%;
}

body
{
   @include background;
   z-index: 2;
   font-family:$main-font;
   font-size:$base-font;
   margin:3px;
   padding:0;
   height:100%;
}

/* Banner Elements */

#logo
{
  width:221px;
  height:142px;
  position:relative;
  z-index:5;
}

/* Div and Section Elements */
div
{
    border-radius:2px;
    text-align: center;
    padding:2px;
}

	/*Paragraph Elements*/
p
{
	text-indent:15px;
	width:75%;
	font-size:$base-font;
}

        /*Button Elements*/
button
{
    background:$white;
    color:set-text-color($white);
    box-shadow:$main-shadow shade( $white, 3% ),  $second-shadow  shade( $white, 3% );
    @include buttonformats; //line 14
}

.selected
{ 
    background:$maroon;
    color:set-text-color($maroon);
    box-shadow:$main-shadow shade($maroon, 20% ),  $second-shadow shade($maroon, 20% );
    @include buttonformats;  //line 14
}
//Form Buttons
.accept
{
	background:$chalkgreen;
     color:set-text-color($chalkgreen);
	box-shadow:$main-shadow shade( $chalkgreen, 5% ),  $second-shadow  shade( $chalkgreen, 5% );
}

.cancel
{
	background:$maroon;
     color:set-text-color($maroon);
	box-shadow:$main-shadow shade( $maroon, 5% ),  $second-shadow  shade( $maroon, 5% );
}

        /*Button Links*/
button a
{
    color:set-text-color($white);
}

button:hover
{ 
    text-shadow: 0 2px 3px shade(white, 20% );
}

button a:hover
{ 
    text-shadow: 0 2px 3px shade(white, 20% );
}

.selected a
{
    color:set-text-color($chalkgreen);
    font-weight:900;
    font-size:105%;
}

    /*Form elements*/

.login
{
    @include forms;//line 45
}
.login a
{
	color:set-text-color(white);
}

.userinput
{
	@include forms;//line 45
}

/*Form Control Elements*/
label
{
    display:inline-block;
    float:left;
    text-align:right;
    padding-bottom:4px;
    min-width:125px;
    font-weight:bold;
}
 input, textarea, select
{
    display:inline-block;
    width:225px;
    border: 1px solid shade(white, 20% );
    font-family:$main-font;
    font-size:$base-font;
    color:$chalkgreen;
    padding-bottom:4px;
}

select
{
	  background:$white;
}
input:focus
{
	font-size:110%;
	width:250px;
}

output
{
	color:$maroon;
	font-size:$largest-font;
}

/*Range Input Elements*/
input[type='range'] 
{
	-webkit-appearance: none;
	width:100%; /*Used in FF*/
	background-color:$chalkgreen;
	border: none;
	border-radius:5px;
	width:225px;
}

input[type='range']:focus
{
	background-color:shade($chalkgreen,30%);
	outline:none;
}

input[type=checkbox]:checked ~ div
{
    font-style:italic;
    color:$ltbrown;
    background-color:$ltbrown
}

//Chrome Range
input[type=range]::-webkit-slider-runnable-track{
    width: 225px;
    height: 5px;
    background:$chalkgreen;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius:50%;
    background:$ltbrown;
    margin-top: -4px;
    cursor: pointer;
}

/*FF Range*/

input[type=range]::-moz-range-track {
    width: 225px;
    height: 5px;
    background:$chalkgreen;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width:  16px;
    border-radius: 50%;
    background: $ltbrown;
}

input[type=range]:focus::-moz-range-track 
{
   background-color:shade($chalkgreen,30%);
}

    /*Form Validation Elements*/
.success
{
    color:$chalkgreen;
    	font-size:$larger-font;
	font-weight:bold;
}

.logout
{
    color:$white;
    font-size:$largest-font;
}

.error
{
    color:red;
    font-size:$larger-font;
    font-weight:bold;
}

/*Image Elements*/
img
{
    padding-bottom:0;
    margin-bottom:0;
}


/* Standard Link Elements */
a 
{
     color:$chalkgreen;
	text-decoration: none;
}

a:hover   
{ 
	text-decoration:underline;
}

a:active  
{
    color:set-text-color($chalkgreen);
    outline:none;
}

/* Table Elements */

table
{
	font-size:110%;
	background-color:$white;
	color:set-text-color($white);
	text-align: center;
	margin:35px auto;
	width:100%;
}

th, td
{
	border: 2px $chalkgreen; 
	border-style:none dashed dashed none; //Top Right Bottom Left
}


/*Miscelleaneous Elements*/
h1,h2,h3
{
	color:set-text-color($ltbrown);
	font-family:$main-font;
}

h2
{
	font-size:$larger-font;
	font-family:$second-font;
}

.invisible
{
	display:none;
}

/*Positional Elements*/
.floatleft
{
    float:left;
}

.floatright
{
    float:right;
}
.alignright
{
    text-align:right;
}
.alignleft
{
    text-align:left;
}
.aligncenter
{
    text-align:center;
}